.carousel-control-prev,
.carousel-control-next {
    width: 60px; 
    height: 60px; 
    background-color: white; 
    border-radius: 30px; 
    color: #fff; 
    margin-top: 100px;
    
    
}
 .carousel-control-prev:hover,
 .carousel-control-next:hover {
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.container {
    margin-top: 60px;
    box-sizing: border-box;
}
.card-title {
    font-size: 30px;
    color:blue;
    font-family: "Montserrat" sans-serif;
}
.card-text {
    font-size: 16px;
    font-family: "Montserrat" sans-serif;
    font-weight: 500;
}


